body {
  .navbar {
    background-color: #e3f2fd;
    .navbar-collapse {
      display: flex;
      .navbar-nav {
        .navbar_list {
          padding-right: 1em
        }
      }
      .navbar-brand {
        width: 1.5em;
        .menu_icon {
          max-width: 100%;
        }
      }
    }
  }
  .nikki_index {
    text-align: center;
    padding: 3%;
    table {
      margin: auto;
    }
  }
  h1 {
    font-size: 2.5rem;
  }
  .form_nikki {
    text-align: center;
    form {
      .field {
        textarea {
          overflow: auto;
          resize: vertical;
          height: 400px;
          width: 700px;
        }
      }
    }
  }
}